
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Master_Page.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <h2>{{ account_item }}</h2>
            <ul>
                {% for item in menu_items %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
